<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <h4>Search site</h4>
    <h5> Character '*' for all positions</h5>
    <div class="lead">
        <form method="get" th:action="@{/search/sectors}">
            <div class="form-row row justify-content-between">
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name</span>
                        </div>
                        <input id="name"
                               class="form-control"
                               type="text"
                               name="name"
                               maxlength="255"
                               placeholder="Search by name"
                               aria-describedby="nameHelp"
                               th:value="${name}">
                    </div>
                    <small id="nameHelp" class="form-text text-muted">Size: 0 - 255 characters</small>
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name of site</span>
                        </div>
                        <select id="siteSelect"
                                class="custom-select"
                                aria-describedby="siteNameHelp"
                                name=siteName>
                            <option th:each="site : ${sites}"
                                    th:value="${site.name}"
                                    th:text="${site.name}"
                                    th:selected="${site.name.equals(siteName)}"></option>
                            <option value=''>Not search</option>
                            <option value='*'>All sites</option>
                        </select>
                    </div>
                    <small id="siteNameHelp" class="form-text text-muted">Choice name of the site</small>
                </div>
                <div class="form-group col-md-2 row justify-content-center align-self-start">
                    <button class="btn btn-outline-success" type="submit">Search site</button>
                </div>
            </div>
        </form>
        <div class="table-responsive-md">
            <table class="table table-striped table-hover">
                <thead class="thead">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Site name</th>
                    <th>Description</th>
                    <th># Itineraries</th>
                </tr>
                </thead>
                <tbody>
                <tr class="clickable-row"
                    th:each="sector : ${sectors}"
                    th:data-href="${'/sectors/view/' + sector.id}">
                    <td th:text="${sector.id}"></td>
                    <td th:text="${sector.name}"></td>
                    <td th:text="${sector.site.name}"></td>
                    <td th:text="${sector.description}"></td>
                    <td th:text="${sector.itineraries.size()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>
</html>