<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <h2>Sector details</h2>
    <div class="lead">
        <div class="table-responsive-md">
            <table class="table table-striped">
                <thead class="thead">
                <tr>
                    <th>Site</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Number of itineraries</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${sector.site.name}"></td>
                    <td th:text="${sector.name}"></td>
                    <td th:text="${sector.description}"></td>
                    <td th:text="${sector.itineraries.size()}"></td>
                    <td><a class="btn btn-outline-secondary" th:href="${'/sectors/update/' + sector.id}">Edit</a></td>
                    <td><a class="btn btn-outline-danger" th:href="${'/sectors/delete/' + sector.id}">Delete</a></td>
                </tr>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Height</th>
                    <th>Number of parts</th>
                    <th>Description</th>
                    <th>Image name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="itinerary : ${sector.itineraries}">
                    <td th:text="${itinerary.name}"></td>
                    <td th:text="${itinerary.grade}"></td>
                    <td th:text="${itinerary.height}"></td>
                    <td th:text="${itinerary.numberOfParts}"></td>
                    <td th:text="${itinerary.description}"></td>
                    <td th:text="${itinerary.imageName}"></td>
                    <td><a class="btn btn-outline-info" th:href="${'/itineraries/view/' + itinerary.id}">View</a></td>
                    <td><a class="btn btn-outline-secondary" th:href="${'/itineraries/update/' + itinerary.id}">Edit</a></td>
                    <td><a class="btn btn-outline-danger" th:href="${'/itineraries/delete/' + itinerary.id}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container px-1">
        <div class="row mx-n1">
            <div class="col py-1 px-1 col-7">
                <form method="post" th:action="@{/comment/sector/{id}(id=${sector.id})}"
                      th:object="${comment}">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group col justify-content-center">
                        <div class="form-group col-md-auto">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Name</span>
                                </div>
                                <input aria-describedby="nameHelp" class="form-control" id="name" maxlength="50"
                                       minlength="1" placeholder="Enter name" required th:field="*{userName}"
                                       type="text">
                            </div>
                            <small id="nameHelp" class="form-text text-muted">Size: 1 - 50 characters</small>
                        </div>
                        <div class="form-group col-md-auto">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="submit" id="button-submit">Send
                                        message
                                    </button>
                                </div>
                                <textarea class="form-control" aria-label="With textarea"
                                          aria-describedby="button-submit" placeholder="Your comment"
                                          required th:field="*{text}"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col py-1 px-1">
                <div class='mb-5 col-12' th:each="comment : ${comments.descendingSet()}">
                    <div class='card x-shadow-fade-in-lg h-100' style='min-height: 13rem'>
                        <div class='bg-secondary card-header d-flex flex-column py-2 text-white'>
                            <div class='d-flex'>
                                <div class='ml-auto my-auto'
                                     th:text="${#temporals.format(comment.createdOn, 'dd MMMM yyyy HH:mm')}">
                                    Number of sectors
                                </div>
                            </div>
                        </div>
                        <div class='card-body d-flex flex-column'>
                            <div class='d-flex flex-column'>
                                <h4 class='mr-1' th:text="${comment.userName}">User name</h4>
                            </div>
                            <div class='text-muted' th:text="${comment.text}">Text</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>